extends base.pug

block scripts
  script(src='/staic/index.js')
block style 
    style 
        include ../static/style.css
        include ../static/styleContact.css

block content
    div.container
        h2 Contact Us
        form(action='/contact', method='POST' class="myForm")
            input(type="text" class="myInput" name="name" placeholder= " Enter your name" required)
            input(type="phone" class="myInput" name="phone" placeholder= " Enter your phone no" required)
            input(type="email" class="myInput" name="email" placeholder= " Enter your email" required)
            input(type="text" class="myInput" name="address" placeholder= " Enter your address" required)
            button(class="btn" onclick="myFunction()")
                |Submit
                    
            

        