extends base.pug

block scripts
  script(src='/staic/index.js')
block style 
    style 
        include ../static/style.css
        include ../static/Phone.css
        include ../static/stylesubmit.css

block content
    div.Submits
        h1|Submit Successfully
        h1|Thanks for Contacting Us
        h1|We will Contact You 
        h1|    Soon